<div class="container min-height" >
    <div class="row">
      <h1> {{ title }}</h1>
    </div>
  
    <!-- <div class="row" *ngIf="imgFlag">
        <div class="col-lg-4 col-md-4 col-sm-12 offset-lg-4 offset-md-4">
          <img class="img_padding" src="assets/loading_crop.gif">
        </div>
    </div> -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Sr.No</th>
          <th>Hospital Id</th>
          <th>Hospital Name</th>
          <th>Blood Group</th>
          <!-- <th>State</th>
          <th>Mobile No</th> -->
          <!-- <th>deathCity</th>
          <th>Certificate</th> -->
    
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let a of dataArray; let i=index ">
          <td>{{ i+1 }}</td>
          <td>{{ a.hospitalId }}</td>
          <td>{{ a.hospitalName }}</td>
          <td>{{ a.bloodGroup }}</td>
          <!-- <td>{{ a.state }}</td>
          <td>{{ a.mobileNo }}</td> -->
          <!-- <td>{{ a["deathCity"]}}</td>
          <td *ngIf ="a['stat'] == 0"><button class="btn btn-primary" (click)="issueCertificate(a['personId'])">Issue Certificate</button></td>
          
          <td><button *ngIf ="a['stat'] == 1" class="btn btn-success" (click)="showCertificate(a['personId'])">View Certificate</button></td> -->
        </tr>
      </tbody>
    </table>
  </div>
  
  
  
  